@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-6">
                    <h1>Students</h1>
                </div>
                <div class="col-6">
                    <div class="float-right">
                        <a class="btn bg-gradient-success btn-flat" asp-action="Create" asp-controller="Student" asp-area="App">Add New Student</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline card-outline-tabs" style="margin-right: 1%; margin-left: 1%;">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="active-tab" data-toggle="pill" href="#active" role="tab" aria-controls="active" aria-selected="true">Approved</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="archive-tab" data-toggle="pill" href="#archive" role="tab" aria-controls="archive" aria-selected="false">Pending</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
                            <table id="active-users" class="table table-bordered table-hover" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Student Id</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Student Id</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
                            <table id="archive-users" class="table table-bordered table-hover" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Student Id</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Student Id</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

    @section Scripts
    {
    <!-- DataTables  & Plugins -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        
        $(function() {
            var projects = $('#active-users').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/App/Student/GetStudentData",
                    type: 'GET',
                    data: {
                        Status: 'true'
                    }
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 3,
                        "render": function (data, type, row) {
                            
                                return `<div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i class="nav-icon fas fa-ellipsis-h"></i></button>
                                                    <ul class="dropdown-menu">
                                                    
                                                    <a href="/App/Student/Remove?studentId=${data}">
                                                        <li> <button type="submit" class="dropdown-item">Remove</button></li>
                                                    </a>
                                                    
                                                </div>`;
                             
                        }
                    }
                ]
            });

        });
        $('#archive-tab').click(function () {
            let k = $('#archive-users').DataTable({
                "processing": true,
                "serverSide": true,
                "retrieve": true,
                "ajax": {
                    "url": "/App/Student/GetStudentData",
                    type: 'GET',
                    data: {
                        status: 'false'
                    }
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 3,
                        "render": function (data, type, row) {
                            
                                return `<div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i class="nav-icon fas fa-ellipsis-h"></i></button>
                                                    <ul class="dropdown-menu">

                                                    <a href="/App/Student/Approve?studentId=${data}">
                                                        <li> <button type="submit" class="dropdown-item">Approve</button></li>
                                                    </a>
                                                    <a href="/App/Student/Remove?studentId=${data}">
                                                        <li> <button type="submit" class="dropdown-item">Remove</button></li>
                                                    </a>
                                                    
                                                </div>`;
                            
                        }
                    }
                ]
            });
        });
    </script>
}